div#container
{
   width: 700px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #1E1E1E;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
#wb_sellText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_sellText1 div
{
   text-align: center;
}
#wb_sellText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_sellText2 div
{
   text-align: center;
   white-space: nowrap;
}
#OBRSELL01
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC none;
}
#OBRSELL02
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC none;
}
#wb_sellText6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_sellText6 div
{
   text-align: center;
}
#wb_sellText7 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_sellText7 div
{
   text-align: center;
}
#wb_sellText8 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_sellText8 div
{
   text-align: center;
}
#sellShape2
{
   width: 310px;
   height: 58px;
   background-color: #265A88;
   background-image: none;
   border: 1px #245580 solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
#sellShape2_text
{
   position: absolute;
   left: 3px;
   top: 16px;
   width: 303px;
   height: 38px;
   overflow: hidden;
   text-align: center;
}
#sellEditbox4
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#sellEditbox4:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#sellEditbox5
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#sellEditbox5:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#sellEditbox6
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#sellEditbox6:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_sellText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_sellText3 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_sellText8
{
   position: absolute;
   left: 175px;
   top: 18px;
   width: 250px;
   height: 18px;
   text-align: center;
   z-index: 3;
}
#wb_uid1
{
   color: #1E1E1E;
   font-family: Arial;
   font-size: 17px;
   line-height: 29px;
}
#wb_sellShape2
{
   position: absolute;
   left: 144px;
   top: 237px;
   width: 312px;
   height: 60px;
   z-index: 4;
}
#wb_uid2
{
   color: #008000;
   font-family: Arial;
   font-size: 24px;
   line-height: 39px;
}
#wb_uid3
{
   color: #000000;
   font-family: Arial;
   font-size: 15px;
}
#OBRSELL01
{
   position: absolute;
   text-align: left;
   left: 49px;
   top: 201px;
   width: 600px;
   height: 321px;
   z-index: 10;
}
#wb_uid4
{
   color: #000000;
   font-family: Arial;
   font-size: 15px;
}
#OBRSELL02
{
   position: absolute;
   text-align: left;
   left: 49px;
   top: 195px;
   width: 600px;
   height: 321px;
   z-index: 11;
}
#wb_uid5
{
   color: #000000;
   font-family: Arial;
   font-size: 15px;
}
#wb_uid6
{
   color: #FFFFFF;
   font-family: Arial;
   font-size: 21px;
}
#sellEditbox4
{
   position: absolute;
   left: 144px;
   top: 180px;
   width: 302px;
   height: 30px;
   line-height: 30px;
   z-index: 5;
}
#wb_sellText1
{
   position: absolute;
   left: 32px;
   top: 32px;
   width: 637px;
   height: 29px;
   text-align: center;
   z-index: 8;
}
#sellEditbox5
{
   position: absolute;
   left: 144px;
   top: 39px;
   width: 302px;
   height: 30px;
   line-height: 30px;
   z-index: 6;
}
#wb_sellText2
{
   position: absolute;
   left: 49px;
   top: 76px;
   width: 602px;
   height: 116px;
   text-align: center;
   z-index: 9;
}
#sellEditbox6
{
   position: absolute;
   left: 144px;
   top: 110px;
   width: 302px;
   height: 30px;
   line-height: 30px;
   z-index: 7;
}
#wb_sellText3
{
   position: absolute;
   left: 50px;
   top: 34px;
   width: 501px;
   height: 117px;
   text-align: center;
   z-index: 0;
}
#wb_sellText6
{
   position: absolute;
   left: 175px;
   top: 89px;
   width: 250px;
   height: 18px;
   text-align: center;
   z-index: 1;
}
#wb_sellText7
{
   position: absolute;
   left: 175px;
   top: 159px;
   width: 250px;
   height: 18px;
   text-align: center;
   z-index: 2;
}
#wb_uid0
{
   color: #2D2D2D;
   font-family: Arial;
   font-size: 24px;
}