body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
#wb_trafficsaleText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_trafficsaleText3 div
{
   text-align: left;
}
#trafficsaleImage2
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_trafficsaleText3
{
   position: absolute;
   left: 39px;
   top: 10px;
   width: 298px;
   height: 21px;
   z-index: 0;
   text-align: left;
}
#wb_trafficsaleImage2
{
   position: absolute;
   left: 7px;
   top: 7px;
   width: 27px;
   height: 27px;
   z-index: 1;
}
#wb_uid0
{
   color: #808080;
   font-family: Arial;
   font-size: 17px;
   letter-spacing: 1.67px;
}
